@font-face { 
    font-family: "HelveticaNeue";
    src: url("Fonts/HelveticaNeueLTStd-Md.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("Fonts/HelveticaNeueLTStd-Bd.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("Fonts/HelveticaNeueLTStd-It.otf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("Fonts/HelveticaNeueLTStd-Roman.otf");
    font-style: oblique;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("Fonts/HelveticaNeueLTStd-Th.otf");
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Baskerville";
    src: url("Fonts/BaskervilleMTStd-SemiBdIt.otf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Baskerville";
    src: url("Fonts/BaskervilleMTStd-SemiBd.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Baskerville";
    src: url("Fonts/BaskervilleMTStd-Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Baskerville";
    src: url("Fonts/BaskervilleMTStd-BoldIt.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Baskerville";
    src: url("Fonts/BaskervilleMTStd-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Baskerville";
    src: url("Fonts/BaskervilleMTStd-Italic.otf");
    font-style: italic;
    font-weight: normal;
}

* { 
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/* MENU */

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

nav ul {
    float: right;
    overflow: hidden;
    padding-right: 40px;
}

ul li {
    display: inline-block;
    text-align:center;
    padding: 10px;
}

label img {
    float: left;
    height: auto;
    max-width: 140px;
    margin-top: 5px;
    margin-left: 60px;
}

img.red {
    width: 15px;
}

li a {
    text-transform: uppercase;
    color: #fff;;
    vertical-align: middle;
    font-family: 'HelveticaNeue';
    font-size: 10px;
    padding: 7px 13px;
    border-radius: 10px;
}

.checkbtn {
    font-size: 20px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 300px) {
    label.logo img {
        margin: 0px;
        padding: 5px;
    }

    .checkbtn {
        margin: 0px;
        padding-right: 10px;
    }

    nav ul li{
        text-align: left;
    }
}

@media (max-width: 650px) {
    
    .checkbtn{
        display: block;
    }

    .checkbtn {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    nav {
        background-color: rgba(0, 0, 0, .3);
    }

    label.logo img {
        margin: 0px;
        padding: 10px;
    }

    .checkbtn {
        margin: 0px;
        padding-right: 10px;
    }
    
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(23, 29, 35);
        left: -100%;
        transition: all .5s;
        text-align: center;
        padding: 0px;
    }

    nav ul li {
        display: block;
    }

    #check:checked ~ ul {
        position: relative;
        left: 0;
    }
}

/* END MENU */

/* SLIDER */

section.slider{
    position: relative;
    height: auto;
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	/* transition: all .5s ease-out; */
    background-image: url('Assets/iStock-478952680-1.1.png');
    display: flex;
	/* animation: slider 28s infinite linear; */
}

.slider-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(40, 48, 58, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

span {
    text-indent: 100%;
}

.pagination{
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px 5px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item span{
    display: inline-block;
    max-width: none;
    height: 100%;
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover span{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ section.slider{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ section.slider{
    animation: none;
    background-image: url('Assets/Mask\ Group\ 1.png');
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

h2.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ANIMATION SLIDER */
/* @keyframes slider{
	0%{
		background-image: url('Assets/iStock-499887682.png');
	}
	25%{
		background-image: url('Assets/iStock-499887682.png');
	}


	26%{
		background-image: url('Assets/iStock-478952680-1.1.png');
	}
	50%{
		background-image: url('Assets/iStock-478952680-1.1.png');
	}


	51%{
		background-image: url('Assets/iStock-905942188.png');
	}
	75%{
		background-image: url('Assets/iStock-905942188.png');
	}
	

	76%{
		background-image: url('Assets/Mask\ Group\ 1.png');
	}
	100%{
		background-image: url('Assets/Mask\ Group\ 1.png');
	}
} */

/* END SLIDER */

header {
    text-align: center;
    grid-column: 1 / span 2;
    position: relative;
}

/* Content */

h2 {
    color: white;
    font-family: "Baskerville";
    font-style: italic;
    font-weight: 600;
}

img {
    height: auto;
    max-width: 100%;
}

div.container {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    width: 100%;
}

div.container div {
    display: inline-block;
    grid-column: 1 / span 2;
}

div.container div div {
    display: table-cell;
    width: 50%;
    max-width: 100%;
}

div.grid-item {
    padding: 8%;
    background-color: rgb(35, 40, 46);
    vertical-align: middle;
}

/* Old content */

div.grid-item h2.title::after {
    content: "";
    width: 50px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    display: block;
    position: relative;
    align-content: center;
}

div.grid-item p.line::after {
    content: "";
    width: 50px;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    display: block;
    position: relative;
    align-content: center;
}

p {
    color: white;
    font-family: 'HelveticaNeue';
    font-size: 13px;
    line-height: 20px;
}

div.grid-item-img {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: rgb(35, 40, 46);
    vertical-align: middle;
}

div.grid-item-img img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgb(23, 29, 35);
    color: white;
    text-align: center;
}

footer img {
    display: inline-block;
    max-width: 100px;
    padding: 10px;
}

footer img.inst {
    max-width: 20px;
    padding: 10px;
}

